@using HealthyFoodWeb.Models.Quiz
@model StartQuizViewModel

<div>
    @Model.Ques

</div>
<div>
    <form method="post" action="/Quiz/NextStep/">
     
        @for (int i = 0; i < Model.Answers.Count; i++)
        {
            <div>

           
                @Html.RadioButtonFor(x=>x.IsRightThisAnswer, Model.IsItTrueAnswer[i])
            
                @Model.Answers[i]
                @Model.IsItTrueAnswer[i]
                <input type="hidden" name="Number" value="@Model.Number" />
                  <input type="hidden" name="CountOfTrueAnswers" value="@Model.CountOfTrueAnswers" />
            </div>

        }
        <div>
            <input type="submit" value="Продолжить" class="myButton" />
        </div>
    </form>
</div>

     @* <input type="hidden" name="IsItTrueAnswer" value="@Model.IsItTrueAnswer[i]" />*@
                 @*   @Html.RadioButtonFor(x=>x.Number, Model.Number)*@