@model ProfileViewModel

<div>
    Hi @Model.Name. You have @Model.Coins coins
</div>
<div>
    I'm' not @Model.Name.
</div>
<div>
    <form action="/Home/UpdateName" method="post">
        @Html.DropDownListFor(x=>x.Operator, Html.GetEnumSelectList(typeof(MathOperationEnum)))
        My name is @Html.TextBoxFor(x=>x.ActualName)
        I have @Html.TextBoxFor(x=>x.Coins)
        <button type="submit">Remember me</button>
    </form>
    <div>
        Kalkulated!
    </div>
    <form action="/Home/kalkulated" method="post">
        Enter first number @Html.TextBoxFor(x=>x.KalkulatedNumberOne)
         + Enter second number @Html.TextBoxFor(x=>x.KalkulatedNumberTwo) 
         <button type="submit">Calculation resultat</button>
        = @Model.KalkulatedResult
    </form>


    
</div>