@model ProfileViewModel

<div>
    Hi @Model.Name. You have @Model.Coins coins
</div>
<div>
    I'm' not @Model.Name.
</div>
<div>
    <form action="/Home/UpdateName" method="post">
        My name is @Html.TextBoxFor(x=>x.ActualName)
        I have @Html.TextBoxFor(x=>x.Coins)
        <button type="submit">Remember me</button>
    </form>
</div>