@using Data.Interface.Models;
@model WikiMcViewModel

@{
    Layout = "_LayoutWiki";
    <link rel="stylesheet" href="~/css/Style_Macronutrient_Calculator.css" />
}

<div>
    <form method="post">
        <div class="add-parameters">
            <div class="type">
                Type <br />
                @Html.DropDownListFor(x=>x.ImgType, Html.GetEnumSelectList(typeof(ImgTypeEnum)))
            </div>
            <div class="year">
                Year <br /> 
                @Html.TextBoxFor(x=>x.Year)
            </div>
            <div class="url">
                ImgUrl <br />
                @Html.TextBoxFor(x => x.ImgPath)
                @Html.ValidationMessageFor(x=>x.ImgPath)
           </div>
            <div class="tags">
                Tags <br />
                @Html.TextBoxFor(x => x.EnteredTags, new { @placeholder = "sport,life,food..."})
            </div>
        </div>
        <div>
            <input type="submit" value="Add"/>
        </div>
    </form>
</div>
<div>
    <a href="/Wiki/ShowUploadedImages">My Images</a>
</div>