@using Data.Interface.Models;
@using HealthyFoodWeb.Models.WikiMcModels;
@model WikiMcViewModel

<div class="add-image">
	<div class="add-parameters">
		<form method="post">
			<div>
				Type <br />
				@Html.DropDownListFor(x=>x.ImgType, Html.GetEnumSelectList(typeof(ImgTypeEnum)))
			</div>
			<div>
				Year <br />
				@Html.TextBoxFor(x=>x.Year)
			</div>
			<div>
				ImgUrl <br />
				@Html.TextBoxFor(x => x.ImgPath)
				@Html.ValidationMessageFor(x=>x.ImgPath)
			</div>
			<div>
				Tags <br />
				@Html.TextBoxFor(x => x.EnteredTags, new { @placeholder = "sport,life,food..."})
			</div>
			<div>
				<input type="submit" value="Add" />
			</div>
		</form>
	</div>
	<div class="image-preview">
		<div class="preview-container">
			<img />
		</div>
		<div>
			Image type: <span class="type">Proteins</span>
		</div>
		<div>
			Image year: <span class="year"></span>
		</div>
		<div>
			Image tags: <span class="tags"></span>
		</div>
	</div>
</div>
<div>
	<a href="/Wiki/ShowUploadedImages">My Images</a>
</div>

@section Scripts{
	<script src="~/js/wiki/addImageWikiMc.js"></script>
}

@section Styles{
	<link rel="stylesheet" href="~/css/Style_Macronutrient_Calculator.css/" />
}