@using Data.Interface.Models.WikiMc;
@using HealthyFoodWeb.Models.WikiMcModels;
@model WikiMcViewModel

@{
	Layout = "_LayoutWiki";
	<link rel="stylesheet" href="~/css/Style_User_Gallery.css" />
}

<div class="add-parameters">
	<form id="basic-form" method="post">
		<div class="user-input">
			<div>
				@Html.LabelFor(x => x.ImgType, "Type") <br />
				@Html.DropDownListFor(x=>x.ImgType, Html.GetEnumSelectList(typeof(ImgTypeEnum)))
			</div>
			<div>
				@Html.LabelFor(x => x.Year, "Year") <br />
				@Html.TextBoxFor(x=>x.Year)
			</div>
			<div>
				@Html.LabelFor(x => x.ImgPath, "Url") <br />
				@Html.TextBoxFor(x => x.ImgPath)
				@Html.ValidationMessageFor(x=>x.ImgPath)
			</div>
			<div>
				@Html.LabelFor(x => x.EnteredTags, "Tags") <br />
				@Html.TextBoxFor(x => x.EnteredTags, new { @placeholder = "sport,life,food..."})
			</div>
			<div>
				<button class="add-img have-to-block">Add</button>
				<img class="loader" src="~/images/icons/loader.gif" />
			</div>
		</div>
	</form>
	<div class="image-preview">
		<div class="preview-container">
			<img />
		</div>
		<div>
			Image type: <span class="type"></span>
		</div>
		<div>
			Image year: <span class="year"></span>
		</div>
		<div>
			Image tags: <span class="tags"></span>
		</div>
	</div>
</div>


@section Scripts{
	<script src="~/js/wiki/addImage.js"></script>
}*