@using Data.Interface.Models;
@model WikiMCViewModel

<div>
    <form method="post">
        <div>
            Type: @Html.DropDownListFor(x=>x.ImgType, Html.GetEnumSelectList(typeof(ImgTypeEnum)))
        </div>
        <div>
            Year: @Html.TextBoxFor(x=>x.Year)
        </div>
        <div>
            ImgUrl: @Html.TextBoxFor(x => x.ImgPath)
        </div>
        <div>
            Tags: @Html.TextBoxFor(x=>x.Tags), @Html.TextBoxFor(x=>x.Tags), @Html.TextBoxFor(x=>x.Tags)
        </div>
        <div>
            <input type="submit" value="Add"/>
        </div>
    </form>
</div>
<div>
    <a href="/Wiki/ShowUploadImages">My Images</a>
</div>