@using HealthyFoodWeb.Models.ModelsWiki;
@using HealthyFoodWeb.Services.FakeDb;
@{
    Layout = "_LayoutWiki";
    <link rel="stylesheet" href="~/css/Style_Slava_BAA.css" />
}
@model PageModelBAA
  
    <div class="container">
    <div class="header"><h1>@Model.BlocksList[0].Title</h1></div>
        <div class="sidebar">
            <p>Магазины БАДов :</p>
            <p><a href="https://gamma.by/sportpit/zdorovie/">Gamma.by</a></p>
            <p><a href="https://kakvapteke.by/catalog/bady/">Kakvapteke.by</a></p>
            <p><a href="https://sofishop.by/catalog/bady/">Sofishop.by</a></p>
        </div>
        <div class="content">
            <div>
            <h2>@Model.BlocksList[1].Title</h2>
            </div>
            <div class="introduction">
                <img src="https://biopharmanorge.ru/uploads/blog/%D0%B1%D0%B0%D0%B4%D1%8B.jpeg">
                @Model.BlocksList[1].Text
            </div>
        <h2>@Model.BlocksList[2].Title</h2>
            <p>
                @Model.BlocksList[2].Text
            </p>
        <h2>@Model.BlocksList[3].Title</h2>
            <p>
            @Model.BlocksList[3].Text
            </p>
            <div class="image_statistic">
                <img src="https://documents.infourok.ru/6a28fa77-52a3-4aa1-b1cf-0fc0a8fe9fab/slide_05.jpg">
                <img src="https://cf2.ppt-online.org/files2/slide/m/ME5jmwvTgyqU017RiYandr2JO3BsbepCz48hK6ftX/slide-19.jpg">
            </div>
            <p>В группу парафармацевтиков включены биосредства, содержащие такие компоненты</p>
            <ul>
                <li>пептиды;</li>
                <li>продукты пчеловодства (мед, прополис, пчелиное маточное молочко);</li>
                <li>органические кислоты;</li>
                <li>растительные антиоксиданты (биофлавоноиды);</li>
                <li>гликозиды;</li>
                <li>эфирные масла;</li>
                <li>азотсодержащие органические соединения (алкалоиды);</li>
                <li>желчь.</li>
            </ul>
        <h2>Чем отличаются БАДы от лекарств</h2>
            <table>
                <tbody>
                    <tr>
                        <td>Лекарства</td>
                        <td>Биологически активные добавки</td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                Имеют строго химическую формулу и предназначены для клинически доказанного лечения
                                заболеваний.
                            </span>
                        </td>
                        <td>
                            Главная функция в восполнении дефицита жизненно важных веществ, дающих организму возможность быстрее
                            восстановиться и снизить риск появления заболеваний. Поэтому врачи часто прописывают биодобавки в качестве
                            дополнения к основной терапии.<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                Обязательно проходят клинические испытания, что позволяет узнать о том, как воздействует на
                                организм тот или иной препарат.
                            </span>
                        </td>
                        <td>
                            <span>
                                Препараты не обязаны проходить клинических испытаний, поэтому наименование БАД на упаковке может
                                указать любой производитель, прошедший государственную регистрацию. В таком случае есть определенный
                                риск, так как сложно спрогнозировать результат и возможные побочные эффекты. Однако не стоит думать о
                                лояльности институтов питания к БАДам. В процессе регистрации, перед тем как получить экспертное
                                заключение Роспотребнадзора, БАДы проходят проверку на соответствие санитарным нормам, безопасности
                                продукции и т.д. <span>
                                    Эксперты внимательно изучают состав, качество и чистоту продукта. Важно также
                                    выбирать производителей, имеющих сертификат СВОЕЙ страны, а еще лучше - международные
                                    одобрения.
                                </span><br>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Определенная дозировка активного вещества в составе.</span></td>
                        <td>
                            <span>
                                Имеют свободную рецептуру, которая фиксируется после регистрации товара. Изменения состава могут
                                повлечь за собой негативные последствия, в том числе потерю репутации производителя.
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        <h2>@Model.BlocksList[4].Title</h2>
            <p>
                @Model.BlocksList[4].Text
            </p>
            <p>
                Для людей с хроническими заболеваниями или предрасположенностью к ним разработаны комплексы направленного
                действия:&nbsp;
            </p>
            <ul>
                <li>для мочеполовой системы;</li>
                <li>для улучшения работы желудочно-кишечного тракта;</li>
                <li>
                    <a href="https://www.rigla.ru/cat/lekarstvennye-preparaty/serdechno-sosudistye-preparaty" target="_blank"
                       rel="noopener" data-cke-saved-href="https://366.ru/c/bad-dlja-serdechnososudistoj-sistemy/">
                        для
                        сердечно-сосудистой системы
                    </a>.
                </li>
            </ul>
        <h2>@Model.BlocksList[5].Title</h2>
            <p>
            @Model.BlocksList[5].Text
            </p>
            <p>
                При интенсивных физических нагрузках, занятиях спортом повысить выносливость помогут средства для активного
                образа жизни. Многие из них содержат таурин — аминокислоту, которая устраняет крепатуру, мышечные спазмы.
            </p>

        </div>
        <div class="footer">&copy; Крылов Вячеслав</div>
    </div>


