@using HealthyFoodWeb.Models.ModelsWiki;
@using Data.Interface.Models;
@using Data.Interface.Repositories;
@using HealthyFoodWeb.Models.ModelsWikiBAA;
@using HealthyFoodWeb.Services.IServices;
@{
    Layout = "_LayoutWiki";
    <link rel="stylesheet" href="~/css/Style_Slava_BAA.css" />
}
@model IEnumerable<BLockPageBaaViewModel>
@inject IAuthService authService

<div class="container">
    <div class="header"><h1>Биологически активные добавки(БАД)</h1></div>
    <div class="sidebar">
        <p>Магазины БАДов :</p>
        <p><a href="https://gamma.by/sportpit/zdorovie/">Gamma.by</a></p>
        <p><a href="https://kakvapteke.by/catalog/bady/">Kakvapteke.by</a></p>
        <p><a href="https://sofishop.by/catalog/bady/">Sofishop.by</a></p>
    </div>

    @foreach (var pageViewModel in Model)
    {
        <div class="content">
            <div class="block">
                <div Titles>
                    <h2>
                        @pageViewModel.Title
                    </h2>
                </div>
                <div class="textBlock">
                    @pageViewModel.Text
                </div>
                <div class="positionAuthor">
                    <span class="deletBlock">
                        <div class="deletBlockBorder">
                            <form action="/Wiki/Remove">
                                <input type="hidden" value="@pageViewModel.Id" name="id">
                                <input type="submit" value="Delet Block">
                            </form>
                        </div>
                    </span>
                    <span class="borderUpdateBlock">
                        <div class="updateBlock">
                            <form action="/Wiki/UpdateBlock">
                                <input type="hidden" value="@pageViewModel.Id" name="id">
                                <input type="submit" value="Update Block">
                            </form>
                        </div>
                    </span>
                    <div class="author">
                        <span>
                            Автор Текста: @pageViewModel.Author
                        </span>
                    </div>

                </div>
                <div>
                    <div>
                        @foreach (var CommentAndAuthor in pageViewModel.CommentAndAuthor)
                        {

                            <div>
                                <div class="comments">
                                    <span>
                                        @CommentAndAuthor.Comment
                                    </span>
                                    <span class="authorComments">
                                        @CommentAndAuthor.Author
                                    </span>
                                </div>
                            </div>
                            @if (authService.GetUser()?.Id == CommentAndAuthor.AuthorId)
                            {
                                <form action="/Wiki/RemoveComment">
                                    <input type="hidden" value="@CommentAndAuthor.CommentId" name="commentId">
                                    <input type="submit" value="Delet Comment">
                                </form>
                            }
                        }
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post">
                            <div class="text">
                                <div class="enterCommentsBorder">
                                    <span class="enterComments">
                                        Enter Comment:
                                    </span>
                                    <textarea name="newComment"></textarea>
                                </div>
                                <input type="hidden" value="@pageViewModel.Id" name="blockId">
                                <div class="button">
                                    <input type="submit" value="Add comment">
                                    <input type="reset" value=" Очистить">
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    }
    <div class="footer">&copy; Крылов Вячеслав</div>
</div>
