@using Data.Interface.Models;
@using Data.Interface.Repositories;
@using HealthyFoodWeb.Models.ModelsWikiBAA;
@using HealthyFoodWeb.Services.IServices;
@{
    Layout = "_LayoutWiki";
    <link rel="stylesheet" href="~/css/Style_Slava_BAA.css" />
}
@model IEnumerable<BLockPageBaaViewModel>
@inject IAuthService authService

@section Scripts{
    <script src="~/js/wiki/addComment.js"></script>
}

<div class="container">
    <div class="header"><h1>Биологически активные добавки(БАД)</h1></div>
    <div class="sidebar">
        <p>Магазины БАДов :</p>
        <p><a href="https://gamma.by/sportpit/zdorovie/">Gamma.by</a></p>
        <p><a href="https://kakvapteke.by/catalog/bady/">Kakvapteke.by</a></p>
        <p><a href="https://sofishop.by/catalog/bady/">Sofishop.by</a></p>
        <p>Навигация: </p>
        <p><a href="/Home/Index">Главная</a></p>
        <p><a href="/Store/storePageCatalogue">Магазин</a></p>
        <p><a href="/GameCatalog/GetCatalog">Каталог игр</a></p>
    </div>

    @foreach (var pageViewModel in Model)
    {
        <div class="content">
            <div class="block">
                <div Titles>
                    <h2>
                        @pageViewModel.Title
                    </h2>
                </div>
                <div class="textBlock">
                    @pageViewModel.Text
                    @foreach (var img in pageViewModel.Img)
                    {
                        <img src="@img.Url" />
                    }
                </div>
                <div class="positionAuthor">
                    <span class="deletBlock">
                        <div class="deletBlockBorder">
                            @if (authService.GetUser()?.Name == pageViewModel.Author)
                            {
                                <form action="/Wiki/Remove" class="removeBlock">
                                    <input type="hidden" value="@pageViewModel.Id" name="blockId">
                                    <input type="hidden" value="@pageViewModel.Author" name="author">
                                    <input type="submit" value="Delete Block" class="delete-block-btn">
                                </form>
                            }
                        </div>
                    </span>
                    <span class="borderUpdateBlock">
                        <div class="updateBlock">
                            @if (authService.GetUser()?.Name == pageViewModel.Author)
                            {
                                <form action="/Wiki/UpdateBlock">
                                    <input type="hidden" value="@pageViewModel.Id" name="id">
                                    <input type="submit" value="Update Block">
                                </form>
                            }
                        </div>
                    </span>
                    <div class="author">
                        <span>
                            Автор Текста: @pageViewModel.Author
                        </span>
                    </div>

                </div>
                <div>
                    <div class="comments-container">
                        <div class="comment-block template">
                            <div class="comments">
                                <span class="comment-text"></span>
                                <span class="authorComments"></span>
                            </div>
                            <form action="/Wiki/RemoveComment" class="remove-form">
                                <input type="hidden" value="" name="commentId">
                                <input type="button" value="Delet Comment" 
                                    class="delete-comment-button">
                            </form>
                            <a class="update-link" href="/wiki/UpdateComment/">update</a>
                        </div>
                        @foreach (var CommentAndAuthor in pageViewModel.CommentAndAuthor)
                        {
                            <div class="comment-block">
                                <div class="comments">
                                    <span class="comment-text">
                                        @CommentAndAuthor.Comment
                                    </span>
                                    <span class="authorComments">
                                        @CommentAndAuthor.Author
                                    </span>
                                </div>
                                @if (authService.GetUser()?.Id == CommentAndAuthor.AuthorId)
                                {
                                    <form action="/Wiki/RemoveComment" class="remove-form">
                                        <input type="hidden" value="@CommentAndAuthor.CommentId" name="commentId">
                                        <input type="submit" value="Delet Comment" class="delete-comment-button">
                                    </form>
                                   <a class="update-link" href="/wiki/UpdateComment/@CommentAndAuthor.CommentId">update</a>
                                }
                            </div>
                        }
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post">
                            <div class="text">
                                <div class="enterCommentsBorder">
                                    <span class="enterComments">
                                        Enter Comment:
                                    </span>
                                    <textarea name="newComment"></textarea>
                                </div>
                                <input type="hidden" value="@pageViewModel.Id" name="blockId">
                                <input type="hidden" value="@authService.GetUser().Name" name="author">
                                <div class="button">
                                    <input class="add-comment" type="button" value="Add comment">
                                    <input type="reset" value=" Очистить">
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    }
    <div class="footer">&copy; Крылов Вячеслав</div>
</div>
