@using HealthyFoodWeb.Models.WikiMcModels;
@using Data.Interface.Models;
@using Data.Interface.Models.WikiMc;
@model WikiMcImgViewModel

@{
		Layout = "_LayoutWiki";
	<link rel="stylesheet" href="~/css/Style_Macronutrient_Calculator.css" />
}

<head>
	<title>Расчет КБЖУ</title>
</head>
<body>
	<heder class="title"><h1>Расчет КБЖУ</h1></heder>
	<main class="main">
		<nav class="navigation">
			<a href="/Home/Index">Главная</a>
			<a href="/Store/storePageCatalogue">Магазин</a>
			<a href="/Wiki/ShowUploadedImages">Галерея</a>
			<a href="/GameCatalog/GetCatalog">Каталог игр</a>
		</nav>
		<div class="container">
			<section class="intro">
				<p>
					Здоровье, активность, настроение и внешний вид человека напрямую зависят от его рациона. В нем действует вечный закон природы — потребность в балансе составляющих. Наша еда состоит из так называемых <em>нутриентов</em>, их соотношение влияет на количество полезных веществ в организме, набор или потерю веса, общее самочувствие.<br />
					Нутриенты — важнейший «строительный материал» нашего тела, от соотношения которых зависит количество энергии, получаемой из пищи, и особенности ее переработки организмом. Наука разделяет их на три ключевые группы — <strong><em>белки</em></strong>, отвечающие за рост мышц, <strong><em>жиры</em></strong>, контролирующие гормональный баланс и работу мозга, и <strong><em>углеводы</em></strong> — источник энергии.
					Нутриенты различаются по энергетической ценности, влиянию на организм и для правильного рациона необходимо знать, сколько их должно быть в еде — в пересчете на калории и в процентном соотношении.<br />
				</p>
				<h3 class="nutrients">
					Какая норма нутриентов в день?
				</h3>
				<p>
					Для поддержания ежедневной физической и мозговой активности, улучшения процесса построения мышц и ухоженного внешнего вида, необходимо придерживаться некоторых усредненных значений норм полезных веществ в расчете на 1 килограмм веса человека:
				</p>
				<ul>
					<li>для белка — 1,5 грамма при средней активности, 2 грамма при занятиях спортом. Калорийность 1 г белка равна 4 ккал;</li>
					<li>для жиров — 0,8 грамма при стандартном образе жизни, 1,5 грамма при постоянной физической активности. Калорийность 1 г жира варьируется от 7 до 9 ккал;</li>
					<li>для углеводов — 2 грамма, спортсмены и люди, занимающиеся тяжелым физическим трудом, увеличивают значение в два и более раз. Калорийность 1 г углеводов равна 4 ккал.</li>
				</ul>
				<p>
					Превышение или уменьшение нормы ведет к нарушению баланса в организме, болезням, расстройствам пищевого поведения, вызванным нехваткой полезных веществ. Поэтому знать «свои цифры» и вести расчет БЖУ важно для всех, кто заботится не только и своём питании, но и здоровье в целом.
				</p>
				<div class="gallery">
					<div class="new-img">
						@foreach (var wikiMCImgViewModel in Model.AllImgByYear)
						{
							<div class="img-container">
								<img src="@wikiMCImgViewModel.ImgPath">
							</div>
						}
					</div>
				</div>
			</section>
			<section class="calculations">
				<p>
					Существует несколько формул для расчета базального метаболизма (он же основной обмен), а в последствии и суточного калоража:
				</p>
				<ul>
					<li>Харриса-Бенедикта;</li>
					<li>Миффлина-Сан-Жеора;</li>
					<li>ВОЗ</li>
				</ul>
				<p>
					Все эти формулы предоставляют лишь ориентировочное значение, отличающееся лишь процентом погрешности. Для вычисления необходимо знать физические и биологические параметры человека (пол, возраст, рост, вес), а также коэффициент дневной активности и желаемый процент дефицита или профицита (в зависимости от ваших целей). Заполнив приведенную ниже анкету вы сможете рассчитать ваш суточный калораж.
				</p>
			</section>
			<div class="center-block">
				<section class=" user-data">
					<form id="basic-form" method="post">
						<div class="input-parameters">
							<div class="sex">
								<b>@Html.LabelFor(model => model.Sex, "Выберите пол:")</b><Br>
								@Html.RadioButtonFor(model=>model.Sex, SexEnum.Male, new{@checked = "true"}) @Html.Label("Мужской")
								@Html.RadioButtonFor(model=>model.Sex, SexEnum.Female) @Html.Label("Женский")
							</div>
							<div class="goal">
								<b>@Html.LabelFor(model => model.Goal, "Выберите цель:")</b><Br>
								@Html.RadioButtonFor(model=>model.Goal, GoalEnum.Weight_loss, new { @checked = "checked" }) @Html.Label("Похудение")<Br>
								@Html.RadioButtonFor(model=>model.Goal, GoalEnum.Weight_gain) @Html.Label("Набор массы")<Br>
								@Html.RadioButtonFor(model=>model.Goal, GoalEnum.Weight_maintenance) @Html.Label("Поддержание веса")<Br>
							</div>
							<div class="age">
								<b>@Html.LabelFor(model => model.Age, "Введите возраст")</b><Br>
								@Html.TextBoxFor(model=>model.Age) лет
								@Html.ValidationMessageFor(model=>model.Age)
							</div>
							<div class="weight">
								<b>@Html.LabelFor(model => model.Weight, "Введите вес")</b><Br>
								@Html.TextBoxFor(model=>model.Weight) кг
								@Html.ValidationMessageFor(model=>model.Weight)
							</div>
							<div class="height">
								<b>@Html.LabelFor(model => model.Height, "Введите рост")</b><Br>
								@Html.TextBoxFor(model=>model.Height) см
								@Html.ValidationMessageFor(model=>model.Height)
							</div>
							<div class="percentage-of-deficit-or-surplus">
								<b>@Html.LabelFor(model => model.Percent, "Введите % дефицита/профицита")</b><Br>
								@Html.TextBoxFor(model=>model.Percent) %
								@Html.ValidationMessageFor(model=>model.Percent)
							</div>
							<div class="activity-ratio">
								<b>@Html.LabelFor(model => model.ActivityRatio, "Выберите коэффициент активности:")</b><Br>
								@Html.DropDownListFor(model=>model.ActivityRatio, Html.GetEnumSelectList(typeof(ActivityRatioEnum)), htmlAttributes: new {placeholder = Model.ActivityRatio})
							</div>
							<div class="nutrients-percent">
								<b>@Html.LabelFor(model => model.PercentOfProteins, "белка")</b><Br>
								@Html.TextBoxFor(model => model.PercentOfProteins, htmlAttributes : new {@placeholder = "30", @Value = "30"}) %<Br>
								@Html.ValidationMessageFor(model=>model.GramsOfProteins)

								<b>@Html.LabelFor(model => model.PercentOfFats, "жира")</b><Br>
								@Html.TextBoxFor(model => model.PercentOfFats,  htmlAttributes : new {@placeholder = "30", @Value = "30"}) %<Br>
								@Html.ValidationMessageFor(model=>model.GramsOfFats)

								<b>@Html.LabelFor(model => model.PercentOfCarbs, "углеводов")</b><Br>
								@Html.TextBoxFor(model => model.PercentOfCarbs,  htmlAttributes : new {@placeholder = "40", @Value = "40"}) %<Br>
								@Html.ValidationMessageFor(model=>model.GramsOfCarbs)
							</div>
						</div>
						<div class="press">
							<input class="castom-btn btn" type="submit" value="Рассчитать" />
						</div>
					</form>
					<div class="calculations-results">
						<b>@Html.LabelFor(model => model.HarrisBenedictAns, "Формула Харриса-Бенедикта:")</b><Br>
						@Model.HarrisBenedictAns, ккал<Br>
						<b>@Html.LabelFor(model => model.MifflinStJeorAns, "Формула Миффлина-Сан-Жеора:")</b><Br>
						@Model.MifflinStJeorAns, ккал<Br>
						<b>@Html.LabelFor(model => model.WhoAns, "Формула ВОЗ:")</b><Br>
						@Model.WhoAns, ккал<Br>
						<div class="average-calories">
							<b>@Html.LabelFor(model => model.AverageAns, "Среднее значние:")</b><Br>
							@Model.AverageAns, ккал<Br>
						</div>
						@Model.GramsOfProteins г белка<Br>
						@Model.GramsOfFats г жиров<Br>
						@Model.GramsOfCarbs г углеводов<Br>
					</div>
				</section>
				<section class="comments">
					<div class="percentage-of-deficit-comments">
						<b>Как определить процент дефицита или профицита:</b>
						<ul>
							<li>По умолчанию рекомендуем брать 20%.</li>
							<li>Если вы не хотите форсировать процесс похудения или набора веса, то выбирайте 10-15%.</li>
							<li>Если ИМТ (индекс массы тела) больше 30, то можно взять дефицит 25-30% (после нормализации веса, уменьшите дефицит до 20%)</li>
						</ul>
					</div>
					<div class="activity-ratio-comments">
						<b>Как определить коэффициент активности:</b><Br>
						<ul>
							<li>1,20 –  минимальная активность (отсутствие физических нагрузок, сидячая работа, минимум движения);</li>
							<li>1,375 – небольшая активность (легкие тренировки или прогулки, небольшая дневная активность);</li>
							<li>1,46 – средняя активность (тренировки 4-5 раз в неделю, хорошая дневная активность);</li>
							<li>1,55 – активность выше среднего (интенсивные тренировки 5-6 раз в неделю, хорошая дневная активность);</li>
							<li>1,64 – повышенная активность (ежедневные тренировки, высокая дневная активность);</li>
							<li>1,72 – высокая активность (ежедневные ультра-интенсивные тренировки и высокая дневная активность);</li>
							<li>1,90 – очень высокая активность (обычно речь идет о спортсменах в период соревновательной активности).</li>
						</ul>
					</div>
					<h3 class="common-ratio">
						Соотношение Белков-Жиров-Углеводов
					</h3>
					<div class="choose-ratio">
						<div class="normal-ratio">
							<p>После расчета калорий вам необходимо посчитать БЖУ. Для того чтобы определить, какая норму белков, углеводов и жиров соответствует вашей норме калорий, нужно в первую очередь знать процент распределения БЖУ.</p>
							<p><b>Стандартный и рекомендованный вариант БЖУ: </b></p>
							<ul>
								<li>Белки: 30%;</li>
								<li>Жиры: 30%;</li>
								<li>Углеводы: 40%.</li>
							</ul>
						</div>
						<div class=" sport-ratio">
							@*<p>БЖУ 30/30/40 – это классический вариант распределения БЖУ, который рекомендуется использовать, если вы не тренируетесь или тренируетесь для общего похудения и тонуса тела (в домашних условиях, на групповых занятиях или в тренажерном зале с небольшим весом отягощений). Другие варианты распределения БЖУ лучше использовать, если вы уже подкованный человек в вопросах строительства тела или после консультации с тренером.</p>*@
							<p> <b>Вариант БЖУ для занимающихся спортом и работающих на рельеф:</b></p>
							<ul>
								<li>Белки: 40%;</li>
								<li>Жиры: 20-25%;</li>
								<li>Углеводы: 35-40%.</li>
							</ul>
						</div>
						<div class="mass-ratio">
							<p><b>Вариант БЖУ для занимающихся спортом и работающих на массу:</b></p>
							<ul>
								<li>Белки: 30-40%;</li>
								<li>Жиры: 20-25%;</li>
								<li>Углеводы: 40-50%.</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
			<p> Теперь зная свою суточную норму калорий и возможные варианты процентного соотношения белков, жиров и углеводов, используя наш калькулятор вы можете рассчитать ваше суточное количество БЖУ (по умолчанию выбран стандартный вариант БЖУ 30/30/40, однако вы можете изменить его в соответствии со своими нуждами).</p>
			<section class="suggestions">
				<h4>
					Рекомендуем также прочитать другие статьи по питанию:
				</h4>
				<ul>
					<li><a href="https://goodlooker.ru/pravilnoe-pitanie.html" class="my-link" target="_blank"> Правильное питание: самый подробный гид по переходу на ПП</a></li>
					<li><a href="https://goodlooker.ru/podschet-kalorij.html" class="my-link" target="_blank"> Подсчет калорий: с чего начать подробно?</a></li>
					<li><a href="https://goodlooker.ru/uglevody.html" class="my-link" target="_blank">Все об углеводах: простые и сложные углеводы для похудения</a></li>
				</ul>
			</section>
		</div>
	</main>
</body>
<div class="footer">
</div>





