@model WikiUserImagesViewModel

@{
	Layout = "_LayoutWiki";
	<link rel="stylesheet" href="~/css/Style_User_Gallery.css" />
}

<div class="paginator">
    @foreach(var pageNumber in Model.PageList)
    {
        <a href="/Wiki/ShowUploadedImages?page=@pageNumber"
            class=" @(Model.ActivePageNumber == pageNumber ? "active" : "")">@pageNumber</a>
    }
</div>

<div>
    @foreach (var imageViewModel in Model.UserImages)
    {
        <div class="gallery">
            <div class="cover">
                <a href="/Wiki/UpdateImage/@imageViewModel.Id">
                    <img src="@imageViewModel.ImgPath" />
                </a>
            </div>
            <div class="prop">
            Year : @imageViewModel.Year <br/>
            Type : @imageViewModel.ImgType <br />
            Tags:
            @foreach (var tag in imageViewModel.UserTags)
            {
                <span class="tag">@tag</span>
            }
            </div>
        </div>
    }
</div>
