@using Data.Interface.Models;
@using HealthyFoodWeb.Models.WikiMcModels;
@model ShowUploadedImagesViewModel

<div class="filter-and-images">
	<h3>Filter</h3>
	<div class="filter-block">
		Year:
		<input type="number" class="img-year have-to-block" />
		Tag:
		<input type="text" class="img-tag have-to-block" />
		Type:
		@Html.DropDownListFor(x=>x.ImgType, Html.GetEnumSelectList(typeof(ImgTypeEnum)))
		<button class="get-img-count have-to-block">Get</button>
		<img class="loader" src="~/images/icons/loader.gif" />
		<div class="filter-output">
			Images count: <span class="img-count">...</span>
			<div class="parent">
				
			</div>
			<img src="" class="template" />
		</div>
	</div>
	
	<div>
		<div class="paginator">
			@foreach (var pageNumber in Model.PaginatorViewModel.PageList)
			{
				<a href="/Wiki/ShowUploadedImages?page=@pageNumber"
				   class=" @(Model.PaginatorViewModel.ActivePageNumber == pageNumber ? "active" : "")">@pageNumber</a>
			}
		</div>

		@foreach (var imageViewModel in Model.PaginatorViewModel.Items)
		{
			<div class="gallery">
				<div class="cover">
					<a href="/Wiki/UpdateImage/@imageViewModel.Id">
						<img src="@imageViewModel.ImgPath" />
					</a>
				</div>
				<div class="prop">
					Year : @imageViewModel.Year <br />
					Type : @imageViewModel.ImgType <br />
					Tags:
					@foreach (var tag in imageViewModel.UserTags)
					{
						<span class="tag">@tag</span>
					}
				</div>
			</div>
		}
	</div>
</div>

@section Styles{
	<link rel="stylesheet" href="~/css/Style_User_Gallery.css" />
}

@section Scripts{
	<script src="~/js/wiki/showUploadedImages.js"></script>
}
