@using Data.Interface.Models;
@using HealthyFoodWeb.Models.WikiMcModels;
@using Data.Interface.Models.WikiMc;
@model ShowUploadedImagesViewModel

<div class="filter-and-images">
	<section class="options">
		<div class="add-img-input">
			<a href="/Wiki/AddImg"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI6x6HkQEXiHR7MRx419BSCXnr_pYAFjiz1Q&usqp=CAU" class="add-img" alt="Add image" /></a>
		</div>
		<div class="filter-input">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFNtI92oTTZ4jgSeqnL-4wo29HG5-YcUDyJQ&usqp=CAU" class="filter" alt="Filter" />
			<div class="filter-block">
				<div class="type">
					Type:<br />
					@Html.DropDownListFor(x=>x.ImgType, Html.GetEnumSelectList(typeof(ImgTypeEnum)))
				</div>
				<div class="tag">
					Tag:<br />
					<input type="text" class="img-tag have-to-block" />
				</div>
				<div class="year">
					Year:<br />
					<input type="number" class="img-year have-to-block" />
				</div>
				<div>
					<button class="get-img-count have-to-block">Get</button>
					<img class="loader" src="~/images/icons/loader.gif" />
				</div>
				<div class="filter-output">
					Images count: <span class="img-count">...</span>
					<div class="parent"></div>
					<img src="" class="template" />
				</div>
			</div>
		</div>
	</section>
	<section class="gallery">
		<div class="images">
			@foreach (var imageViewModel in Model.PaginatorViewModel.Items)
			{
				<div class="img-container">
					<div class="cover">
						<img src="@imageViewModel.ImgPath" />
					</div>
					<div class="prop">
						<div class="year">Year : @imageViewModel.Year </div>
						<div class="type">Type : @imageViewModel.ImgType</div>
						<div class="tags">
							Tags : @foreach (var tag in imageViewModel.UserTags)
							{
								<span class="tag">@tag</span>
							}
						</div>
						<div class="buttons">
							<a href="/Wiki/UpdateImage/@imageViewModel.Id" class="update">Update</a>
							<a href="/Wiki/DeleteImage?imgId=@imageViewModel.Id" class="delete">Delete</a>
						</div>
					</div>
				</div>
			}
		</div>
		<div class="paginator">
			@foreach (var pageNumber in Model.PaginatorViewModel.PageList)
			{
				<a href="/Wiki/ShowUploadedImages?page=@pageNumber"
				   class=" @(Model.PaginatorViewModel.ActivePageNumber == pageNumber ? "active" : "")">@pageNumber</a>
			}
		</div>
	</section>
</div>

@section Styles{
	<link rel="stylesheet" href="~/css/styleUserGallery.css" />
}

@section Scripts{
	<script src="~/js/wiki/showUploadedImages.js"></script>
}
