@using Data.Interface.Models.WikiMc;
@using HealthyFoodWeb.Models.WikiMcModels;
@model WikiMcViewModel
@{
	Layout = "_LayoutWiki";
	<link rel="stylesheet" href="~/css/styleUpdateImageWiki.css" />
}

<form method="post">
	<div class="update-img">
		<div class="img-container">
			@Html.HiddenFor(x=>x.Id)
			<input type="hidden" value="@Model.Id" />
			<img src="@Model.ImgPath" />
		</div>
		<div class="params">
			<div class="type">
				@Html.LabelFor(x => x.ImgType, "Type") <br />
				@Html.DropDownListFor(x=>x.ImgType, Html.GetEnumSelectList(typeof(ImgTypeEnum)), htmlAttributes: new {placeholder = Model.ImgType})
			</div>
			<div>
				@Html.LabelFor(x => x.ImgPath, "Url") <br />
				@Html.TextBoxFor(x=>x.ImgPath)
			</div>
			<div>
				@Html.LabelFor(x => x.Year, "Year") <br />
				@Html.TextBoxFor(x=>x.Year)
			</div>
			<div class="tag-container">
				Change existing tags<br />
				@foreach (var tag in Model.UserTags)
				{
					<span class="tag">
						<label>
							<input @(Model.UserTags.Contains(tag)
								? "checked='checked'"
								: "")
								   type="checkbox"
								   value="@tag"
								   name="@nameof(WikiMcViewModel.UserTags)" />
							@tag
						</label>
					</span>
				}
				<br />Add new ones <br />
				@Html.TextBoxFor(x=>x.EnteredTags, new { @placeholder = "sport,life,food..."})
			</div>
			<div>
				<button class="update" type="submit">Update</button>
			</div>
		</div>
	</div>
</form>
